/*------------------------------BODY-------------------------------------*/
body{
    margin: 23px 50px 0px 50px;
    position: absolute;
}  
/*-----------------------------HEADER------------------------------------*/
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo menu1";

}
#logo {
    grid-area: logo;
    justify-self: self-start;
    margin-bottom: 10px;
    
}
/*-------------------------------MENU-------------------------------------*/
.menu1 {
    grid-auto-flow: row;
    grid-area: menu1;
    justify-self: self-end;
    align-self: center;
    font-size: 16px;
    
}
div.menu1 a:link{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: black;
    margin: 0px 15px;
    padding: 38px 15px;
}
div.menu1 a:visited{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: black;
}
div.menu1 a:hover{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
div.menu1 a:active{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
/*----------------------------NAV----------------------------------------*/
nav {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "slogan"
        "searchingbar"
        "filter"
        "info";
}
#slogan {
    grid-area: slogan;
}
#searchingbar {
    grid-area: searchingbar;
}
#filter {
    grid-area: filter;
}
#info {
    grid-area: info;
}
/*-------------------------SLOGAN----------------------------------------*/
#slogan h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}
#slogan p {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
      margin-top: 5px;
}
/*-------------------------SEARCHING---------------------------------------*/
/*coller les butons ensamble*/
#mapmarker {
    border: 1px solid #F2F2F2;
    padding: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: left;   
    font-size: 19px; 
}
#searchform {
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-right: 0px;
    float: left;
    }
#searchbutton {
    border: 1px solid #0065FC;
    padding: 15px;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #F2F2F2;    
}
#searchbutton:hover {
    border: 1px solid #F2F2F2;
    padding: 15px;
    background-color: #F2F2F2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #0065FC;  
}
/*------------------------------FILTER-------------------------------------*/
#filter h3{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: left;
    margin-right: 40px; 
}
#money {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
}
#money i {
    padding: 20px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-40%);
    border-radius: 80px; 
    margin: -4px;
    border: 4px solid #DEEBFF;;
}
#money a {
    padding: 20px 30px 18px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 80px;
    border: 4px solid #F2F2F2;
}
#money:hover  {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
}
#kid {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
}
#kid i {
    padding: 20px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-46%);
    border-radius: 80px; 
    margin: -4px;
    border: 4px solid #DEEBFF;
}
#kid a {
    padding: 20px 30px 18px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 80px;
    border: 4px solid #F2F2F2;
}
#kid:hover  {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
}
#heart {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
}
#heart i {
    padding: 20px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-43%);
    border-radius: 80px; 
    margin: -4px;
    border: 4px solid #DEEBFF;;
}
#heart a {
    padding: 20px 30px 18px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 80px;
    border: 4px solid #F2F2F2;
}
#heart:hover  {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
}
#dog {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
}
#dog i {
    padding: 20px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-41%);
    border-radius: 80px; 
    margin: -4px;
    border: 4px solid #DEEBFF;;
}
#dog a {
    padding: 20px 30px 18px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 80px;
    border: 4px solid #F2F2F2;
}
#dog:hover  {
    margin-right: 40px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
}

/*----------------------------INFOBAR-----------------------------------*/
#info {
    display:inline-block;
    margin: 20px 0px 0px 0px;
}
#info i {
    border-radius: 100%;
    border: 2px solid #F2F2F2;
    padding: 6px 9px 6px 9px;
    display: inline;
    margin-right: 10px;
}
#info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: black;
    display: inline;
}
/*---------------------MAIN------------------------------------------*/
main {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(2);
    grid-template-areas: 
        "hebergement hebergement populaires"
        "activites activites activites ";
}
#hebergement {
    grid-area: hebergement;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
    margin: 0px;
    
    
}
#populaires {
    grid-area: populaires;
    background-color: #F2F2F2;
    border-radius: 25px;
    
    
    /*border: 5px solid #0065FC; */
           
}
#activites {
    grid-area: activites;
}
/*------------------------GALLERIES-------------------------------------*/
#gallery {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-columns: repeat (auto-fit, minmax(50%, 100%));*/
    grid-template-areas: 
        "box box box"
        "box box box";
        justify-content: stretch;

}
#gallery2 {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(3);
    grid-template-columns: repeat(1, minmax(min-content, 450px), minmax(min-content, 450px));
    grid-template-areas: 
        "box2"
        "box2"
        "box2";
        justify-content: center;
}
#gallery3 {
    display: grid;
    grid-gap: 40px;
    grid-template-rows: repeat(4);
    grid-template-columns: repeat (5,  minmax(min-content, 450px), minmax(min-content, 450px));
    grid-template-areas: 
        "box31 box32 box34 box35"
        "box31 box32 box34 box36"
        "box31 box33 box34 box36";    
    margin: 30px 0px 60px 0px;
    
}
/*---------------------BOXES--------------------------------------------*/
.box {
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb ;
    
}
.box div {
    padding: 0px 0px 5px 15px;
    margin: -10px 0px 0px 0px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    line-height: 0.1;
    
}
.box2{
    background-color: white;
    border-radius: 25px;
    /*border: 3px solid rgb(37, 39, 163);*/
    margin: 0px 30px;
    padding: 0px;
    width: 343px;
    height: 144px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
}
.box2 div {
    
    padding: 0px;
    
    width: 342px;
    height: 142px;
    margin: 0px;
    
}
.box31 {
    grid-area: box31;
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    max-width: 100%;
}
.box32 {
    grid-area: box32;
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    max-width: 100%;
}
.box33 {
    grid-area: box33;
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    height: auto;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    max-width: 100%;
}
.box34 {
    grid-area: box34;
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    max-width: 100%;
}
.box35 {
    grid-area: box35;
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    max-width: 300px;
}
.box36 {
    grid-area: box36;
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    max-width: 300px;
}
/*----------------------------------IMG--------------------------------*/
.box img {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 245px;
    height: 114px;
    overflow: auto;

    object-fit: cover;
}
.box2 img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 127px;
    height: 134px;
    object-fit: cover;
    float: left;
    padding: auto;
    border: 5px solid white;
    margin-right: 15px;

}
.box31 img {
    max-width: 100%;
    min-width: 300px;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}
.box34 img{
    max-width: 100%;
    min-width: 300px;
    height: 390px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.box32 img{
    max-width: 600px;
    width:  300px;
    height: 197px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.box36 img{
    max-width: 100%;
    min-width: 300px;
    height: 197px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.box33 img{
    max-width: 100%;
    min-width: 300px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.box35 img{
    max-width: 100%;
    min-width: 300px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/*---------------------FONTS-----------------------------------------------*/
#hebergement h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}
#hebergement h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 40px;

}
#populaires h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.pop {
    display: flex;
    justify-content:space-between;
    margin: 35px 30px 0px 30px;
}
.pop i {
    margin: 23px 0px 0px 0px;
}
#activites h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.box div h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.box div p {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: black;
}
.box2 div h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-right: 45px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: justify;
}
.box2 div p { 
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: justify;
}
#gallery3 h4 {
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 20px 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
/*-----------------------FOOTER--------------------------------------------*/
footer {
    display: flex;
    flex-flow: row ;
    flex-direction: row;
    justify-content:flex-start;
    background-color: #F2F2F2;
    margin: 0px -50px 0px -50px;
    padding: 30px 50px;
    line-height: 2; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    
}
.apropos {
    margin-right: 19%;
}
.noshebergements{
    margin-right: 19%;
}
.assistance {
    margin-right: 19%;
}
.info a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: black;
    text-decoration: none;
}
/*-------------------------------Responsive---------------------------------*/

@media only screen and (max-width: 500px) {
   
.container {
  
 
}



}

/*------------------------------------Desktop 4K----------------------------*/
/*@media only screen and (min-width: 1441px) {
    .box {
        background-color: white;
        border-radius: 25px;
        margin-bottom: -10px;
        padding: 5px;
        border: solid 3px green;
        box-shadow: 0px 0px 10px 2px #cbcbcb ;
        height: 300px;
    }
    #gallery {
        display: grid;
        grid-gap: 30px;
    }   
    
    
    
    
    .box img {
            width: 100%;
            height: 88%;
    }
}*/