/*------------------------------BODY-------------------------------------*/
body {
    /*margin: 0px 50px 0px 50px;*/

}
.container {
  display: grid;
  width: 1440px;
  margin: auto;
  /*justify-content: center;*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 50px 100px 120px 100px repeat(7, 1fr);
  /*grid-template-rows: repeat(14, 1fr);*/
  grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "nav nav nav nav"
            "nav nav nav nav"
            "nav nav nav nav"
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "footer footer footer footer";
}
/*-----------------------------HEADER------------------------------------*/
header {
    display: grid;
    grid-area: header;
    grid-column: 1/span 5;
    grid-row: 1/2;
    
}
#logo {
    display: grid;
    grid-area: header;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: self-start;
    align-items: center;
    padding: 25px 20px 20px 0px;
    
}
#menu1 {
    display: grid;
    grid-area: header;
    grid-column: 2/3;
    grid-row: 1/2;
    grid-auto-flow: column;
    justify-self: self-end;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;   
    margin:  0px 130px 0px 0px;
    padding: 0px; 
}
#menu11 {
    padding: 40px 30px 0px 30px;
    place-self: stretch;
    text-align: center;
    text-decoration: none;
}
#menu12 {
    padding: 40px 30px 0px 30px;
    place-self: stretch;
    text-align: center;
    text-decoration: none;
}
#signup {
    display: grid;
    grid-area: header;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: self-end;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color:#0065FC; 
    font-weight:700;
    margin:  0px;
    padding: 0px 0px 3px 0px;
}
/*-------------------------------MENU-------------------------------------*/
#menu11:visited {
    color: black;
}
#menu11:hover {
    border-top: 3px solid #0065FC;
    padding: 37px 30px 0px 30px;
    font-family: 'Raleway', sans-serif;
    color:#0065FC; 
    font-weight:200;
}
#menu11:active {
    border-top: 3px solid #0065FC;
}
#menu12:visited {
    color: black;
}
#menu12:hover {
    border-top: 3px solid #0065FC;
    padding: 37px 30px 0px 30px;
    font-family: 'Raleway', sans-serif;
    color:#0065FC; 
    font-weight:200;
}
#menu12:active {
    border-top: 3px solid #0065FC;
}
/*---------------------------------------------------*/
#signup :link {
    text-decoration: none;
    padding: 37px 30px;
}
#signup :visited {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #0065FC
}
#signup :hover {
    padding: 37px 30px;
    border-top: 3px solid #0065FC;
    margin:  0px 0px;
}
#signup :active {
    border-top: 3px solid #0065FC;
}
/*----------------------------NAV----------------------------------------*/
nav {
    display: grid;
    grid-area: nav;
    grid-column: 1/5;
    grid-row: 2/6;
    background-color: rgb(214, 115, 115)    
}
/*-------------------------SLOGAN----------------------------------------*/
#slogan {
    display: grid;
    grid-area: nav;
    grid-row: 1/2;
    grid-column: 1/ span 5;
    height: 50px;
}
#slogan h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}
#slogan p {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 0px;

}
/*-------------------------SEARCHING---------------------------------------*/
span #searchingbar {
    /*display: grid;*/
    grid-area: nav;
    grid-row: 2/3;
    grid-column: 1/2;
}


#searchingbar {
    margin: 0px 0px;
    padding: 30px 0px;
    background-color: indigo;

}
#mapmarker {
    border: 1px solid #F2F2F2;
    padding: 15px 20px 25px 20px;
    margin: 0px -6px 0px 0px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: left;   
    font-size: 20px;
    align-items: center;
    height: 10px;
    width: 15px;
}
::placeholder {
    color: black;
  }
#searchform {
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-right: 0px;
    float: left;
    width: 250px;
    }
#searchbutton {
    border: 1px solid #0065FC;
    padding: 15px 16px 15px 15px;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #F2F2F2; 
    margin: 0px -80px 0px 0px;  
}
#search{
    visibility: hidden;
}
#searchbutton:hover {
    border: 1px solid #F2F2F2;
    padding: 15px 16px 15px 15px;
    background-color: #F2F2F2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #0065FC;  
}
/*------------------------------FILTER-------------------------------------*/
#filter {
    display: grid;
    grid-area: nav;
    grid-row: 3/4;
    grid-column: 1/2;
    grid-auto-flow: column dense;
    padding: 15px 0px;
    grid-auto-flow: column dense;

}
#filter h3{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: left; 
    margin-right: 20px;
}
/*-------------------------------------------------------*/
#money {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;
    height: 50px;
    width: 190px;
    border: 4px solid #F2F2F2;
    padding: 1px;

}
#money i {
    padding: 15px 14px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-40%);
    border-radius: 80px; 
    margin: -4px -15px -4px -6px;
    /*border: 4px solid #DEEBFF;*/
    border: 4px solid black;
    background-color: green;

}
#money a {
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: yellow;
}
#money:hover  {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;
    height: 50px;
    width: 190px;
    border: 4px solid #F2F2F2;
    padding: 1px;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
    background-color: violet;
}
/*-------------------------------------------------------*/
#kid {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;
    height: 50px;
    width: 150px;
    border: 4px solid #F2F2F2;
    padding: 1px;

}
#kid i {
    padding: 15px 19px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-40%);
    border-radius: 80px; 
    margin: -4px -15px -4px -6px;
    /*border: 4px solid #DEEBFF;*/
    border: 4px solid black;
    background-color: green;

}
#kid a {
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: yellow;
}
#kid:hover  {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;

    border: 4px solid #F2F2F2;
    padding: 1px;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
    background-color: violet;
}
/*-------------------------------------------------------*/
#heart {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;
    height: 50px;
    width: 190px;
    border: 4px solid #F2F2F2;
    padding: 1px;

}
#heart i {
    padding: 15px 17px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-40%);
    border-radius: 80px; 
    margin: -4px -15px -4px -6px;
    /*border: 4px solid #DEEBFF;*/
    border: 4px solid black;
    background-color: green;

}
#heart a {
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: yellow;
}
#heart:hover  {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;
    height: 50px;
    width: 190px;
    border: 4px solid #F2F2F2;
    padding: 1px;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
    background-color: violet;
}
/*-------------------------------------------------------*/
#dog {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;
    height: 50px;
    width: 240px;
    border: 4px solid #F2F2F2;
    padding: 1px;

}
#dog i {
    padding: 15px;
    font-size: 16px;
    background: #DEEBFF;
    transform: translate(-40%);
    border-radius: 80px; 
    margin: -4px -15px -4px -6px;
    /*border: 4px solid #DEEBFF;*/
    border: 4px solid black;
    background-color: green;

}
#dog a {
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    background-color: yellow;
}
#dog:hover  {
    margin-right: 20px;
    background: transparent;
    border: hidden;
    border-radius: 80px;
    float: left;
    transition: transform 0.1s;
    background-color: brown;
    height: 50px;
    width: 240px;
    border: 4px solid #F2F2F2;
    padding: 1px;
    box-shadow: 0px 0px 15px 5px #0065FC ;
    transition: all 0.1s 0s ease;
    background-color: violet;
}
/*-------------------------------------------------------*/

/*----------------------------INFOBAR-----------------------------------*/
#info {
    display: grid;
    grid-area: nav;
    grid-row: 4/5;
    grid-column: 1/span 5;
    padding: 15px 0px;
}
#info {
    display:inline-block;
    margin: 20px 0px 0px 0px;
}
#info i {
    border-radius: 100%;
    border: 2px solid #F2F2F2;
    padding: 6px 9px 6px 9px;
    display: inline;
    margin-right: 10px;
}
#info p {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: black;
    display: inline;
}
/*---------------------MAIN------------------------------------------*/
main {
    display: grid;
    grid-area: main;
    background-color: #32de84;
    grid-column: 1/ 5;
    grid-row: 6/14;
    grid-gap: 30px;
}
/*---------------------GALLERY1--------------------------------------------*/
#hebergement {
    display: grid;
    /*grid-area: main;*/
    background-color: #8F9779;
    grid-column: 1/2;
    grid-row: 1/2; 
    /*background-color: #F2F2F2;*/
    border-radius: 25px;
    padding: 30px;
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr ;*/
}
#hebtitle {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #87A96B;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0px;
}
#gallery {
    display: grid;
    /*grid-area: main;*/
    background-color: #568203;
    grid-template-columns: repeat(3, minmax(250px, 500px));
    grid-template-rows: repeat(2, minmax(200px, 220px));
    grid-gap: 30px;
    margin: 0px;
    padding: 20px 0px;
}
#gallery div h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 0px 10px;
    padding: 10px 0px;
}
#gallery div p {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: black;
    margin: 0px 10px;
    padding: 10px 0px;
}
#gallery span {
    padding: 0px 10px;
}
#gallery span i{
    margin: 10px 0px;
    padding: 0px;
}
#box11 {
    display: grid;
    /*grid-area: main;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb ;
    border: 3px solid red;
    /*height:100%;
    width: 100%;*/
    /*height: 200px;
    width: 245px;*/
    grid-gap: 5px;
    
}
#box11 img {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    /*width: 236px;
    height: 114px;*/
    height:100%;
    width: 100%;
    object-fit: cover;
    /*border: 3px solid red;*/
}
#box11 div {
    /*display: grid;*/
    /*grid-area: main;*/
    /*width: 100%;
    height: 100%;*/
    height:75px;
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    line-height: 0.1;
    /*border: 3px solid black;*/
    /*position: relative;*/

}
/*-----------------------------------------------------------*/
#box12 {
    display: grid;
    /*grid-area: main;*/
    background-color: #006A4E;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb ;
    border: 3px solid red;
    /*height: 100%;*/
    grid-gap: 5px;
}
#box12 img {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 100%;
    height: 100%;
    overflow: auto;
    object-fit: cover;
    /*border: 3px solid red;*/
}
#box12 div {
    /*display: grid;*/
    /*grid-area: main;*/
    height: 100%;
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    line-height: 0.1;
}
/*----------------------------------------------------------*/
#box13 {
    display: grid;
    /*grid-area: main;*/
    background-color: #66FF00;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb ;
    border: 3px solid red;
    /*height: 100%;*/
    /*height: 300px;*/
    grid-gap: 5px;
}
#box13 img {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 100%;
    height: 100%;
    overflow: auto;
    object-fit: cover;
    /*border: 3px solid red;*/
}
#box13 div {
    /*display: grid;*/
    /*grid-area: main;*/
    height: 100%;
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    line-height: 0.1;
}
/*-----------------------------------------------------*/
#box14 {
    display: grid;
    /*grid-area: main;*/
    background-color: #4FFFB0;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb ;
    border: 3px solid red;
    /*height: 100%;*/
    grid-gap: 5px;
}
#box14 img {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 100%;
    height: 100%;
    overflow: auto;
    object-fit: cover;
    /*border: 3px solid red;*/
}
#box14 div {
    /*display: grid;*/
    /*grid-area: main;*/
    height:75px;
    /*height: 100%;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    line-height: 0.1;
    /*border: 3px solid black;*/
    position: relative;
}
/*---------------------------------------------------------*/
#box15 {
    display: grid;
    /*grid-area: main;*/
    background-color: #1B4D3E;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb ;
    border: 3px solid red;
    /*height: 100%;*/
    grid-gap: 5px;
}
#box15 img {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 245px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border: 3px solid red;*/
}
#box15 div {
    /*display: grid;*/
    /*grid-area: main;*/
    height:75px;
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    line-height: 0.1;
}
/*--------------------------------------------------------*/
#box16 {
    display: grid;
    /*grid-area: main;*/
    background-color: #17B169;
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb ;
    border: 3px solid red;
    /*height: 100%;*/
    grid-gap: 5px;
}
#box16 img {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 100%;
    height: 100%;
    overflow: auto;
    object-fit: cover;
    /*border: 3px solid red;*/
}
#box16 div {
    /*display: grid;*/
    /*grid-area: main;*/
    height: 100%;
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    line-height: 0.1;
}
#plus {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #17B169;
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0px;
}
/*--------------------GALLERY2---------------------------*/
#populaires {
    display: grid;
    grid-area: main;
    background-color: #f192e5;
    grid-column: 2/3;
    grid-row: 1/2;
    /*background-color: #F2F2F2;*/
    border-radius: 25px;
    padding: 30px; 

}
.pop {
    display: grid;
    /*grid-area: main;*/
    background-color: blue;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0px;
    padding: 0px;
}
#poptitle {
    display: grid;
    /*grid-area: main;*/
    background-color: #ACE1AF;
    grid-column: 1/2;
    grid-row: 1/2;
    /*grid-auto-flow: row;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.pop i {
   /*padding: 2px 0px 20px 0px;*/
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: self-end;
    align-items: center;
    background-color: red;
    margin: 0px;
    padding: 0px;
}
#gallery2 {
    display: grid;
    grid-area: main;
    background-color: yellow;
    grid-column: 1/2;
    grid-row: 2/3;
    /*grid-template-columns: 348px;*/
    grid-template-rows: repeat(3, 144px);
    grid-gap: 30px 0px;
    padding: 20px 0px 0px 0px;
    
}
#gallery2 div h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-right: 45px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: justify;
    
}
#gallery2 div p { 
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: justify;
}
#box21 {
    display: grid;
    grid-area: main;
    background-color: #008B8B;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    border-radius: 25px;
    border: 3px solid rgb(37, 39, 163);
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    grid-gap: 5px;
    
}
#box21 div {
    display: grid;
    grid-area: main;
    background-color: #008B8B;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0px;
    margin: 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 206px;
}
#box21 img{
    /*display: grid;*/
    grid-area: main;
    background-color: #008B8B;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    /*max-width: 100%;
    min-width: 127px;
    max-height: 100%;
    min-height: 134px;*/
    object-fit: cover;
    float: left;
    padding: 0px;
    height:100%;
    width: 100%;
}
/*----------------------------------------------------------------------------*/
#box22 {
    display: grid;
    grid-area: main;
    background-color: #008B8B;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-radius: 25px;
    border: 3px solid rgb(37, 39, 163);
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    grid-gap: 5px;
    
}
#box22 div {
    display: grid;
    grid-area: main;
    background-color: #008B8B;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0px;
    margin: 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 206px;
}
#box22 img{
    /*display: grid;*/
    grid-area: main;
    background-color: #008B8B;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    /*max-width: 100%;
    min-width: 127px;
    max-height: 100%;
    min-height: 134px;*/
    object-fit: cover;
    float: left;
    padding: 0px;
    height:100%;
    width: 100%;
}
/*----------------------------------------------------------------------------*/
#box23 {
    display: grid;
    grid-area: main;
    background-color: #008B8B;
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    border-radius: 25px;
    border: 3px solid rgb(37, 39, 163);
    margin: 0px;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    grid-gap: 5px;
    /*width: 100%;
    height: 100%;*/
    
}
#box23 div {
    display: grid;
    grid-area: main;
    background-color: #008B8B;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0px;
    margin: 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 206px;

}
#box23 img{
    /*display: grid;*/
    grid-area: main;
    background-color: #008B8B;
    grid-column: 1/2;
    grid-row: 1/2;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    /*width: 127px;

    height: 134px;
    min-width: 127px;

    min-height: 134px;*/
    object-fit: cover;
    float: left;
    padding: 0px;
    height:100%;
    width: 100%;
}
/*--------------------------------------GALLERY3-------------------*/
#activites {
    display: grid;
    grid-area: main;
    background-color: #556B2F;
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 30px 0px;
}
#acttitle {
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #03C03C;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#gallery3 {
    display: grid;
    /*grid-area: main;*/
    background-color: #8FBC8B;
    /*grid-template-columns: repeat(4, 302px);
    grid-template-rows: repeat(2, 225px);*/
    grid-column: 1/2;
    grid-row: 2/3;
    grid-gap: 30px;
    justify-content: center;
}
#gallery3 h4 {
    /*display: grid;*/
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#box31 {
    display: grid;
    /*grid-area: main;*/
    background-color: violet;
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 25px;
    /*margin: 0px 0px;
    padding: 0px;*/
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    /*height: 450px;*/
    width: 330px;
    border: 3px solid red;
}
#box31 img{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #00693E;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 390px;
    width: 100%;
}
#box31 h4{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: pink;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px;
    padding: 20px 19px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    /*height: 57px;*/
    
   
}
/*----------------------------------------------------------------------------*/
#box32 {
    display: grid;
    /*grid-area: main;*/
    background-color: violet;
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    width: 330px;
    border: 3px solid red;
}
#box32 img{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #00693E;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 182px;
    width: 100%;
}
#box32 h4{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: pink;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px;
    padding: 20px 19px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    /*height: 57px;*/
}
/*----------------------------------------------------------------------------*/
#box33 {
    display: grid;
    /*grid-area: main;*/
    background-color: violet;
    grid-column: 2/3;
    grid-row: 3/4;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    width: 330px;
    border: 3px solid red;
}
#box33 img{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #00693E;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 109px;
    width: 100%;
}
#box33 h4{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: pink;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px;
    padding: 20px 19px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    /*height: 57px; */
}
/*----------------------------------------------------------------------------*/
#box34 {
    display: grid;
    /*grid-area: main;*/
    background-color: violet;
    grid-column: 3/4;
    grid-row: 1/4;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    width: 330px;
    border: 3px solid red;
}
#box34 img{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #00693E;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 390px;
    width: 100%;
}
#box34 h4{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: pink;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px;
    padding: 20px 19px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    /*height: 57px;*/
}
/*----------------------------------------------------------------------------*/
#box35 {
    display: grid;
    /*grid-area: main;*/
    background-color: violet;
    grid-column: 4/5;
    grid-row: 1/2;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    width: 330px;
    border: 3px solid red;
}
#box35 img{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #00693E;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 109px;
    width: 100%;
}
#box35 h4{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: pink;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px;
    padding: 20px 19px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    /*height: 57px;*/
}
/*----------------------------------------------------------------------------*/
#box36 {
    display: grid;
    /*grid-area: main;*/
    background-color: violet;
    grid-column: 4/5;
    grid-row: 2/4;
    border-radius: 25px;
    margin: 0px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px 2px #cbcbcb;
    width: 330px;
    border: 3px solid red;
}
#box36 img{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: #00693E;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    height: 182px;
    width: 100%;
}
#box36 h4{
    /*display: grid;*/
    /*grid-area: main;*/
    background-color: pink;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0px;
    padding: 20px 19px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    /*height: 57px;*/
}
/*----------------------------------------------------------------------------*/
/*-----------------------FOOTER--------------------------------------------*/
footer {
    display: grid;
    grid-area: footer;
    grid-column: 1/ 5;
    grid-row: 14/15;
    margin: 0px -50px 0px -50px;
    padding: 30px 50px; 
    background-color: #F2F2F2;
}

#apropos {
    grid-area: footer;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 19%;
    line-height: 2; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#noshebergements {
    grid-area: footer;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 19%;
    line-height: 2; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#assistance {
    grid-area: footer;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-right: 19%;
    line-height: 2; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.info a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: black;
    text-decoration: none;
}
/*-----------------------------------MOBILE------------------------------*/
@media only screen and (max-width: 375px) {
    body {
        margin: 20px;
    }
    .container {
        display: grid;
        height: 150vh;
        grid-template-columns: 375px ;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
                  "header"
                  "nav"
                  "main"
                  "footer";
                  
    }
    
/*-----------------------------HEADER-MOB---------------------------------*/
header {
    display: grid;
    grid-area: header;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 375px
}
#logo {
    display: grid;
    grid-area: header;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: self-start;
    align-items: center;
    padding: 23px 20px;
}
#menu1 {
    display: grid;
    grid-area: header;
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: stretch;
    align-items: center;
    margin: 0px;
    
}
#menu11 {
    display: grid;
    grid-area: header;
    grid-column: 1/2;
    grid-row: 2/3;
    color: black;
    padding: 15px 10px 10px 10px;
    place-self: stretch;
    border-bottom: 3px solid #ECECEC;
    text-align: center;
}
#menu12 {
    display: grid;
    grid-area: header;
    grid-column: 2/3;
    grid-row: 2/3;
    color: black;
    padding: 15px 10px 10px 30px;
    place-self: stretch;
    border-bottom: 3px solid #ECECEC;
    text-align: center;
}
#signup {
    display: grid;
    grid-area: header;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: self-end;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color:#0065FC; 
    font-weight:700;
}
/*-------------------------------MENU-MOB---------------------------------*/
#menu11:visited {
    color: black;
}
#menu11:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
    /*padding: 37px 30px 0px 30px;*/
    padding: 15px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
    color:#0065FC; 
    font-weight:200;
}
#menu11:active {
    border-top: none;
    border-bottom: 3px solid #0065FC;
}
#menu12:visited {
    color: black;
}
#menu12:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
    /*padding: 37px 30px 0px 30px;*/
    padding: 15px 10px 10px 30px;
    font-family: 'Raleway', sans-serif;
    color:#0065FC; 
    font-weight:200;
}
#menu12:active {
    border-top: none;
    border-bottom: 3px solid #0065FC;
}
/*---------------------------------------------------*/
#signup :link {
    text-decoration: none;
    padding: 36px 30px;
}
#signup :visited {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #0065FC
}
#signup :hover {
    padding: 33px 30px;
    border-top: 3px solid #0065FC;
    margin:  0px 0px;
}
#signup :active {
    border-top: 3px solid #0065FC;
}
/*----------------------------NAV-MOB---------------------------------------*/
nav {
    grid-area: nav;
    grid-column: 1/2;
    grid-row: 2/3; 
    margin: 0px;
    padding: 0px;
    width: 375px
}
/*-------------------------SLOGAN-MOB---------------------------------------*/
#slogan {
    grid-area: nav;
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100px;
    width: 335px;
    margin: 35px 20px;
    padding: 0px;
    background-color: red;
}
/*-------------------------SEARCHING-MOB--------------------------------------*/
#searchingbar {
    display: grid;
    grid-area: nav;
    grid-row: 2/3;
    grid-column: 1/2;
    grid-template-columns: 1fr;
    /*background-color: green;*/
    margin: 0px 20px 0px 20px;
    padding: 0px;
    width: 335px;

}
#mapmarker {
    grid-row: 1/2;
    grid-column: 1/2;
}
#searchbutton {
    visibility: hidden; 
    /*padding:0px;
    margin: 0px; */
    grid-row: 1/2;
    grid-column: 3/4;
   
}
#search{
    visibility: unset;
    border: 1px solid #0065FC;
    padding: 15px;
    background-color: #0065FC;
    border-radius: 15px;
    font-size: 20px;
    color: #F2F2F2; 
    float: left;
    margin: 0px;
    grid-row: 1/2;
    grid-column: 3/4;
}
#searchform {
    border: 1px solid #F2F2F2;
    padding: 15px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-right: -10px;
    float: left;
    width: 240px;
    grid-row: 1/2;
    grid-column: 2/3;
}
/*------------------------------FILTER-MOB------------------------------------*/
#filter {
    grid-area: nav;
    background-color: #DDA0DD;
    grid-row: 3/4;
    grid-column: 1/2;
    grid-auto-flow: dense;
    grid-template-columns: 167px 167px;
    /*gap: 10px;*/
    margin: 20px;
}
#money {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 0px;
}
#kid {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 0px;
}
#heart {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-right: 0px;
}
#dog {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-right: 0px;
}
/*----------------------------INFOBAR-MOB----------------------------------*/
#info {
    display: grid;
    /*grid-area: nav;*/
    background-color: #800080;
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 30px 20px;
    padding: 0px ;
    grid-template-columns: 25px 320px;
    grid-template-rows: 30px 25px;
    

}
#infobar i {
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 100%;
    border: 2px solid #F2F2F2;
    padding: 0px 9px 0px 9px;
    display: inline;
    margin-right: 0px;
    
    
}
#infobar p {
    grid-column: 1/2;
    grid-row: 1/3;
    
    
}
/*-----------------------------MAIN-MOB-----------------------------------------*/
main {
    /*grid-area: main;*/
    background-color: #32de84;
    grid-column: 1/2;
    grid-row: 3/4;
}
/*---------------------GALLERY2------------------------------*/
#populaires {
    display: grid;
    /*grid-area: main;*/
    background-color: #00563B;
    grid-column: 1/2;
    grid-row: 1/2;

}
.pop {
    display: grid;
    /*grid-area: main;*/
    background-color: #ACE1AF;
    grid-column: 1/2;
    grid-row: 1/2;
}
#poptitle {
    display: grid;
    /*grid-area: main;*/
    background-color: #ACE1AF;
    grid-column: 1/2;
    grid-row: 1/2;
}

.pop i {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}
#gallery2 {
    display: grid;
    grid-area: main;
    background-color: #1CAC78;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 336px;

}
#box21 {
    
    background-color: #008B8B;
    grid-column: 1/2;
    grid-row: 1/2;
}
#box22 {
    
    background-color: #006400;
    grid-column: 1/2;
    grid-row: 2/3;
}
#box23 {
    
    background-color: #4A5D23;
    grid-column: 1/2;
    grid-row: 3/4;
}
/*-----------------------GALLERY1---------------------------*/
#hebergement {
    grid-area: main;
    background-color: #8F9779;
    grid-column: 1/2;
    grid-row: 2/3;
}
#hebtitle {
    grid-area: main;
    background-color: #87A96B;
    grid-column: 1/2;
    grid-row: 1/2;
}
#gallery {
    grid-area: main;
    background-color: #568203;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-gap: 30px 0px;
    grid-template-columns: 336px;
}
#box11 {
    grid-area: main;
    background-color: #568569;
    grid-column: 1/2;
    grid-row: 1/2;
}
#box12 {
    grid-area: main;
    background-color: #006A4E;
    grid-column: 1/2;
    grid-row: 2/3;
}
#box13 {
    grid-area: main;
    background-color: #66FF00;
    grid-column: 1/2;
    grid-row: 3/4;
}
#box14 {
    grid-area: main;
    background-color: #4FFFB0;
    grid-column: 1/2;
    grid-row: 4/5;
}
#box15 {
    grid-area: main;
    background-color: #1B4D3E;
    grid-column: 1/2;
    grid-row: 5/6;
}
#box16 {
    grid-area: main;
    background-color: #17B169;
    grid-column: 1/2;
    grid-row: 6/7;
}
#plus {
    grid-area: main;
    background-color: #17B169;
    grid-column: 1/2;
    grid-row: 3/4;
}
/*--------------------GALLERY3-------------------------------*/
#activites {
    display: grid;
    /*grid-area: main;*/
    background-color: #556B2F;
    grid-column: 1/2;
    grid-row: 3/4;
}
#acttitle {
    grid-area: main;
    background-color: #03C03C;
    grid-column: 1/2;
    grid-row: 1/2;
}
#gallery3 {
    grid-area: main;
    background-color: #8FBC8B;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 336px;
}
#box31 {
    grid-area: main;
    background-color: #00693E;
    grid-column: 1/2;
    grid-row: 1/2;
    
}
#box32 {
    grid-area: main;
    background-color: #004953;
    grid-column: 1/2;
    grid-row: 2/3;
}
#box33 {
    grid-area: main;
    background-color: #50C878;
    grid-column: 1/2;
    grid-row: 3/4;
}
#box34 {
    grid-area: main;
    background-color: #00FF40;
    grid-column: 1/2;
    grid-row: 4/5;
}
#box35 {
    grid-area: main;
    background-color: #4D5D53;
    grid-column: 1/2;
    grid-row: 5/6;
}
#box36 {
    grid-area: main;
    background-color: red;
    grid-column: 1/2;
    grid-row: 6/7;
}
/*--------------------FOOTER---------------------------------*/
footer {
    grid-area: footer;
    background-color: #AA0000;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0px;
    padding: 0px;
}
#apropos {
    grid-area: footer;
    background-color: #E32636;
    grid-column: 1/2;
    grid-row: 1/2;
}
#noshebergements {
    grid-area: footer;
    background-color: #E52B50;
    grid-column: 1/2;
    grid-row: 2/3;
}
#assistance {
    grid-area: footer;
    background-color: #FBCEB1;
    grid-column: 1/2;
    grid-row: 3/4;
}
}
